/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-control.ng-touched.ng-invalid {
	border: 2px solid red;
}
.form-control{
	width: 50%;
}
.alert.alert-danger {
	width: 50%;
}
li {
	list-style-type: none;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
